/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
body {
    background-image: url(assets/images/vecteezy_abstract-black-luxury-papercut-background_.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
